body {
    /*background-color: RGBA(232, 52, 78, 0.2);*/
    background-color: #FFEDDA;
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title {
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Jua', sans-serif;
}

.subtitle {
    font-size: 2rem;
    font-family: 'Nanum Gothic Coding', monospace;

}

.is-sparta {
    color: #FFB830 !important;
}

.button.is-sparta {
    background-color: #FFB830;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #FFB830;
    color: #FFB830 !important;
}

.help {
    color: gray;
}