* {
    font-family: 'Jua', sans-serif;
}


.top-title {
    margin: auto;
    padding: 50px 50px 50px 50px;
    background-color: rgb(230, 250, 255);
    color: rgb(20, 100, 160);
}

.main-sub {
    color: rgb(20, 100, 160);
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.main-card {
    padding: 100px 50px 50px 50px;
    color: rgb(20, 100, 160);
}