<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"></script>

    <!-- slider CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>


    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/7a46ceb137.js" crossorigin="anonymous"></script>

    <!-- Css -->
    <link rel="stylesheet" href="/static/css/style.css">
    {% block csslink %}{% endblock %}
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    {% block js %}{% endblock %}

</head>
<body>
<nav class="navbar">
    <div class="navbar_logo">
        <a href="/"><img class="logo" src="/static/logo2.png"></a>
    </div>
    <div class="navbar_menu">
        <li><a href="/">Home</a></li>
        {% block libutton %}{% endblock %}
        <li id="login-button"><a href="/login">로그인</a></li>
        <div onclick="get_card()"><img id="user-profile" class="rounded-circle"
                                       src="/static/profile_pics/profile_placeholder.png" width="50px" height="50px">
        </div>

    </div>

</nav>
{% block content %}
{% endblock %}

<!-- 프로필 창 -->
<div id="user-card" class="invisible card-profile shadow p-3 mb-5 bg-body opacity-90 bg-light rounded"
     style="width: 18rem;">
    <div class="card-body text-center">
        <img style="height: 100px; width: 100px" class="rounded-circle card-profile-img"
             src="/static/profile_pics/profile_placeholder.png">

        <br>
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted"> ID </h6>
        <p class="card-text"> discription </p>
        <a href="#" class="card-link">My Profile</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

</div>
<script>
    //쿠키에 mytoken이 존재하면 user 정보 띄우기
    $(document).ready(function () {
        let my_token = getCookie('mytoken');

        if (my_token == null) {
            $('#login-button').show();
            $('#user-profile').hide();
        } else {
            $('#login-button').hide();
            $('#user-profile').show();

            $.ajax({
                type: "GET",
                url: "/user_info",
                data: {},
                success: function (response) {
                    let user = response['user_info']
                    let profile_name = user['profile_name']
                    let username = user['username']
                    let profile_info = user['profile_info']
                    let profile_img = user['profile_pic']

                    console.log(profile_img)
                    let href = '/static/${profile_img}'
                    $('#user-profile').attr("src", '/static/' + profile_img)

                    //유저 프로필 카드
                    $('.card-profile-img').attr("src", '/static/' + profile_img)
                    $('.card-title').text(profile_name)
                    $('.card-subtitle').text(username)
                    $('.card-text').text(profile_info)
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        }
    })

    function get_card() {
        $('#user-card').toggleClass('invisible');
        $('#user-profile').toggleClass('border border-2');
    }

    function getCookie(key) {
        let result = null;
        let cookie = document.cookie.split(';');
        cookie.some(function (item) {
            // 공백을 제거
            item = item.replace(' ', '');

            let dic = item.split('=');
            if (key === dic[0]) {
                result = dic[1];
                return true;    // break;
            }
        });
        return result;
    }

    function onClickCreateEvent() {
        if (document.cookie.match("mytoken") != null) {
            window.location.href = "/events"
        } else {
            alert("로그인 후 생성해주세요 !!")
            window.location.href = '/login';
        }
    }

    function onClickCreateProfile() {
        if (document.cookie.match("mytoken") != null) {
            window.location.href = "/profile/create"
        } else {
            alert("로그인 후 생성해주세요 !!")
            window.location.href = '/login';
        }
    }
</script>
{% block innerjs %} {% endblock %}
</body>
</html>