{% extends 'base.html' %}

{% block title %} 상세페이지 {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="/static/css/event_detail.css">
{% endblock %}

{% block libutton %}
    <li><a href="/event/list">이벤트 보기</a></li>
{% endblock %}

{% block content %}
    <div class="all">
        <!-- 작성자(top_box)-->
        <div class="top_box">
            <div class="image">
                <img class="image_in" src="/static/maru.png">
            </div>
            <div class="author">
                <div class="input-group mb-3">
                    <span class="input-group-text">작성자</span>
                    <div id="author_box" type="text" class="form-control" placeholder="" aria-label="Username"
                         aria-describedby="basic-addon1">
                        {{ events_db['username'] }}
                    </div>
                </div>
            </div>
        </div>

        <div class="contents_box">
            <!-- 제목, 내용 -->
            <div class="title">
                <input type="hidden" id="idx" value="{{id}}">
                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <div id="title_box" type="text" class="form-control" aria-label="Username"
                         aria-describedby="basic-addon1">
                        {{ events_db['title'] }}
                    </div>
                </div>
            </div>

            <div class="contents">
                <div class="input-group mb-3">
                    <div class="form-control content" aria-label="With textarea" id="contents_box">
                        <img id="content-img" src="/static/eventimg/{{ events_db['file'] }}" height="200px"
                             width="200px"><br>

                        {{ events_db['contents'] }}
                    </div>
                </div>
            </div>
        </div>
        <!--주소, 지도버튼-->
        <div class="address_box">
            <div class="address mt-3">
                <div class="input-group mb-3">
                    <span class="input-group-text">주소</span>
                    <div id="address-box" type="text" class="form-control address" aria-label="Username"
                         aria-describedby="basic-addon1">{{ events_db['address'] }}
                    </div>
                    <button class="btn btn-primary ml-3" data-bs-toggle="modal" data-bs-target="#map-modal">지도</button>
                </div>
            </div>
        </div>

        <!-- 버튼 그룹 -->
        <div class="detail_button">
            <button onclick="location.href='/pre-eventDetail/{{ id }}'" type="button" class="btn btn-primary ui button">
                <i class="fa fa-wrench" aria-hidden="true"> 수정</i>
            </button>
            &nbsp;
            <button onclick="delete_event()" type="button" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"> 삭제</i>
            </button>
            &nbsp;
            <button onclick="onClickLike()" type="button" class="btn btn-danger" id="like">
                <i class="far fa-thumbs-up"> 좋아요{{ events_db.like_count }}</i>
                <input type="hidden" id="like" value="{{events_db.like_count}}">
            </button>
            <input type="hidden" id="like" value="{{events_db.like_count}}">
            <button onclick="onClickJoin()" type="button" class="btn btn-danger" id="like">
                참가하기
            </button>
        </div>
        <!-- 댓글-->
        <div class="comment_wrap">
            <div class="detail_comment">
                <div class="input-group">
                    <span class="input-group-text">댓글 입력</span>
                    <textarea id="comment_content" class="form-control" aria-label="comment"></textarea>
                    <button onclick="comment_upload()" class="btn btn-primary">확인</button>
                </div>

                <div id="comment_list_{{ id }}">
                    {% for comment in events_db['comment'] %}
                        <div class="card mb-2">
                            <div class="card-header bg-light">
                                <i class="fa fa-comment fa"></i> 작성자: {{ comment.user }}
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="comment_wrote">내용: {{ comment.comment }}</div>
                                        <button type="button" class="btn btn-dark mt-3">수정</button>
                                        <button type="button" class="btn btn-dark mt-3">삭제</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <!--모달 창-->
    <div class="modal fade" id="map-modal" role="map" aria-labelledby="map"
         aria-hidden="true" tabindex="-1">
        <!--modal-dailog : 모달 창 영역 설정-->
        <div class="modal-dialog modal-lg">
            <!--modal-content : 모달 창 콘텐츠 영역 설정-->
            <div class="modal-content">
                <!--modal-header : 모달 창 콘텐츠의 헤더영역-->
                <div class="modal-header modal-header-custom">
                    <h4 class="modal-title modal-title-custom">지도</h4>
                </div>
                <!--modal-body : 모달 창 콘텐츠의 바디영역-->
                <div class="modal-body" id="map-body">
                    <!-- iframe src="/map?id={id}" -->
                    <div id="map-area">
                        <iframe id="go-map"></iframe>
                    </div>

                </div>
                <!--modal-footer : 모달 창 콘텐츠의 푸터영역-->
                <div class="modal-footer">
                    <div class="modal-footer-custom">
                        <button type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">
                            닫기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/event_detail.js"></script>
{% endblock %}
</body>
</html>