<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/7a46ceb137.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <title>강만다</title>

    <!-- style -->
    <style type="text/css">
    </style>
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            show_profile();#}
    {#        });#}
    {##}
    {#        function show_profile() {#}
    {#            $.ajax({#}
    {#                type: 'GET',#}
    {#                url: '/profile_list',#}
    {#                data: {},#}
    {#                success: function (response) {#}
    {#                    let profile = response['all_profile']#}
    {#                    for (let i = 0; i < profile.length; i++) {#}
    {#                        let image = profile[i]['image']#}
    {#                        let name = profile[i]['name']#}
    {#                        let age = profile[i]['age']#}
    {#                        let gender = profile[i]['gender']#}
    {#                        let descrip = profile[i]['descrip']#}
    {##}
    {#                        let temp_html = `<div class="swiper-slide">#}
    {#                                          <div class="tag">#}
    {#                                           <span>나이 : ${age} </span>#}
    {#                                            </div>#}
    {#                                            <a class="title">이름 : ${name} </a>#}
    {#                                            <div class="text">#}
    {#                                            <img class="card-img-top"#}
    {#                                             src="${image}"#}
    {#                                                alt="Card image cap">#}
    {#                                             </div>#}
    {#                                            <div class="date">자기소개 : ${descrip}</div>`#}
    {##}
    {#                        $('#cards-box').append(temp_html)#}
    {#                    }#}
    {#                }#}
    {#            });#}
    {#        }#}
    {##}
    {#    </script>#}

</head>

<body>
<div class="navbar">
    <div class="navbar_logo">
        <a href="/"><img class="logo" src="/static/logo2.png" alt="logo"></a>
    </div>
    <div class="navbar_menu">
        <li><a href="/">Home</a></li>
        <li><a href="/list">게시물 보기</a></li>
    </div>
</div>
<div class="wrap">
    <div class="main_wrap">
        <h1>강아지를 만나다</h1>
        <h2>반려인들을 위한 커뮤니티</h2>
    </div>
    <div class="main_img">
        <p align="right"><img class="image" src="/static/maru.png" alt="logo"></p>
    </div>
</div>
<div class="slider">
    <div class="title">Profile Card</div>
    <div class="swiper-container wrapper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="tag">
                    <span>나이 : 11개월</span>
                </div>
                <a class="title">이름 : 마루 </a>
                <div class="text">
                    <img class="card-img-top"
                         src="/static/maru.png"
                         alt="Card image cap">
                </div>
                <div class="date">자기소개 : 마루에용</div>
            </div>
            <div class="swiper-slide">
                <div class="tag">
                    <span>나이 : 11개월</span>
                </div>
                <a class="title">이름 : 마루2</a>
                <div class="text">
                    <img class="card-img-top"
                         src="/static/maru.png"
                         alt="Card image cap">
                </div>
                <div class="date">자기소개 : 마루2이에용</div>
            </div>
            <div class="swiper-slide">
                <div class="tag">
                    <span>나이 : 11개월</span>
                </div>
                <a class="title">이름 : 마루3</a>
                <div class="text">
                    <img class="card-img-top"
                         src="/static/maru.png"
                         alt="Card image cap">
                </div>
                <div class="date">자기소개 : 마루3이에용</div>
            </div>
            <div class="swiper-slide">
                <div class="tag">
                    <span>나이 : 11개월</span>
                </div>
                <a class="title">이름 : 마루4</a>
                <div class="text">
                    <img class="card-img-top"
                         src="/static/maru.png"
                         alt="Card image cap">
                </div>
                <div class="date">자기소개 : 마루4에용</div>
            </div>
            <div class="swiper-slide">
                <div class="tag">
                    <span>나이 : 11개월</span>
                </div>
                <a class="title">이름 : 마루5</a>
                <div class="text">
                    <img class="card-img-top"
                         src="/static/maru.png"
                         alt="Card image cap">
                </div>
                <div class="date">자기소개 : 마루5에용</div>
            </div>
            <div class="swiper-slide">
                <div class="tag">
                    <span>나이 : 11개월</span>
                </div>
                <a class="title">이름 : 마루6</a>
                <div class="text">
                    <img class="card-img-top"
                         src="/static/maru.png"
                         alt="Card image cap">
                </div>
                <div class="date">자기소개 : 마루6이에용</div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<script>
    (function () {
        var swiper = new Swiper(".slider .swiper-container", {
            slidesPerView: "auto",
            spaceBetween: 30,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    })();
</script>

</body>

</html>