<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <title>강만다</title>

    <!-- style -->
    <style type="text/css">


    </style>
    <script>
        $(document).ready(function () {
            show_post_list();
        });

        function show_post_list() {
            $.ajax({
                type: 'GET',
                url: '/posts_list',
                data: {},
                success: function (response) {
                    let articles = response['all_articles']
                    for (let i = 0; i < articles.length; i++) {
                        //let image = articles[i]['image']
                        let author = articles[i]['author']
                        let title = articles[i]['title']
                        let contents = articles[i]['contents']
                        let address = articles[i]['address']
                        let number = articles[i]['number']


                        let temp_html = `<div class="item">
                                           <div class="num">${number}</div>
                                           <div class="title"><a href="/detail/${number}">${title}</a></div>
                                           <div class="author">${author}</div>
                                           <div class="date">2021-09-26</div>
                                         </div>`
                        $('#post_body').append(temp_html)
                    }
                }
            });
        }
    </script>

</head>

<body>

<div class="navbar">
    <div class="navbar_logo">
        <a href="/"><img class="logo" src="/static/logo2.png"></a>
    </div>
    <div class="navbar_menu">
        <li><a href="/">Home</a></li>
        <li><a href="/posts/">게시물 작성</a></li>
    </div>

</div>
<div class="category">
    <div class="category_name">
        <h1>게시글 보기</h1>
    </div>
</div>
<div class="post_list_wrap">
    <div class="post_list">
        <div class="post_list_head">
            <div class="num">번호</div>
            <div class="title">제목</div>
            <div class="author">글쓴이</div>
            <div class="date">작성일</div>
        </div>
        <div class="post_list_body" div id="post_body">

        </div>
    </div>

</div>

</div>
</body>

</html>