<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <title>강만다</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script defer src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>     <!-- 주소검색 api-->

    <style>

        .all {
            width: 80%;
            margin: auto;
        }
        .logo {
            float: left;
            width: 200px;
        }

        .author {
            float: right;
            width: 50%;
            margin: 25px 0px 0px 0px;
        }

        .save {
            float: right;
            color: #3DB2FF;
        }

        .image {
            width: 100px;
            margin: auto;
        }




    </style>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })

        function address_input(){
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                       extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    // document.getElementById('sample4_postcode').value = data.zonecode;
                    // document.getElementById("sample4_roadAddress").value = roadAddr;
                    // document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                    document.getElementById("address-box").value = roadAddr;
                }
            }).open();
        };

        function post_upload() {
            let author = $("#author_box").val()
            let title = $("#title_box").val()
            let address = $("#address-box").val()
            let content = $("#contents_box").val()

            let file = $('#file')[0].files[0]
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("author_give", author)
            form_data.append("title_give", title)
            form_data.append("address_give", address)
            form_data.append("content_give", content)

            console.log(form_data)

            $.ajax({
                type: "POST",
                url: "/posts/create",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    location.replace('/posts')
                }
            });
        }


    </script>
</head>
<body>
    <div class="all mt-5">
        <!--로고, 작성자(top_box)-->
        <div class="top_box">

            <div class="author">
                <div class="image">
                    <img class="image mb-3" src="/static/maru.png">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">이름</span>
                    <input id="author_box" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>

        </div>
        <!--제목, 사진 업로드, 내용(contents_box)-->
        <div class="contents_box">

            <div class="title">
                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <input id="title_box" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="contents">
                <div class="input-group mb-3">
                    <textarea class="form-control" placeholder="내용을 작성해주세요!" aria-label="With textarea" id="contents_box"></textarea>
                </div>
            </div>

            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="file">
                <label class="custom-file-label" for="file">사진 선택하기</label>
            </div>

        </div>

        <div class="address">
            <div class="input-group mb-3" >
                <span class="input-group-text">주소</span>
                <input onclick="address_input()" id="address-box" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <!--저장(save)-->
        <div class="save">
            <button onclick="post_upload()" type="button" class="btn btn-info">저장하기</button>
        </div>
    </div>
</body>
</html>