{% extends 'base.html' %}

{% block title %} 강만다 - 프로필 업로드 {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="/static/css/profile_list.css">
{% endblock %}

{% block js %}
    <!--사진 파일 뽑기-->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
{% endblock %}

{% block libutton %}

{% endblock %}


{% block content %}
    <div class="category">
        <div class="category_name">
            <h1>{{ profile_db['name'] }} 프로필</h1>
        </div>
    </div>
    <div class="card color-card">
        <ul>
            <a href="/profiles">
                <li><i class="fas fa-arrow-left i-l w"></i></li>
            </a>
            <a href="javascript:delete_post()">
                <li>
                    <i class="fas fa-trash-alt i-r w" title="삭제"></i>
                </li>
            </a>
            <a href="/dogdetail/{{ id }}">
                <li>
                    <i class="fas fa-wrench i-r w" title="수정"></i>
                </li>
            </a>
        </ul>

        <div class="card_top">
            <div>
                <input type="hidden" value="{{ id }}" id="profile_id">
                <div class="profile_img">
                    <img class="dog_img" src="/static/profileimg/{{ profile_db['file'] }}">
                </div>
            </div>
            <div>
                <p class="name desc">{{ profile_db['name'] }}</p>
            </div>
            <div class="desc">
                <p class="age">나이: {{ profile_db['age'] }}</p>
                <p class="gender">성별: {{ profile_db['gender'] }}</p>
            </div>
            <hr>
            <div class="desc comment" style="font-size: 20px">
                <p>{{ profile_db['comment'] }}</p>
            </div>
        </div>

    </div>
    {% block innerjs %}
        <script src="/static/js/profile_detail.js"></script>
    {% endblock %}

{% endblock %}

