{% extends 'base.html' %}

{% block title %} User Profile | 강만다 {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="/static/css/user_profile_upload.css">

{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script src="/static/js/user_profile_upload.js"></script>

{% endblock %}


{% block content %}
    <div class="wrap">
        <div class="user-update-wrap shadow">
            <h1>회원 수정</h1>
            <p>회원님의 정보를 수정해 보세요</p>
            <p>프로필 사진</p>
            <div style="padding-bottom: 50px; ">
                <img class="img-thumbnail" id="profile-img" src="/static/{{ user_info.profile_pic }}" width="150px"
                     height="150px">
            </div>
            <div class="custom-file mb-3" style="width: 300px">
                <input type="file" class="custom-file-input file" id="file" onchange="readFile(event);">
                <label class="custom-file-label" for="file" id="file">사진 첨부하기</label>
            </div>
            <hr>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">별명</span>
                <input id='name' type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default" placeholder="{{ user_info.profile_name }}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">자기소개</span>
                <textarea id='description' type="text" class="form-control" aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default" placeholder="{{ user_info.profile_info }}"
                          style="height: 200px"></textarea>
            </div>

            <button class="btn btn-outline-primary" onclick="user_update()" type="button">수정 하기</button>
            <br><br><button class="btn btn btn-outline-danger" onclick="alert('회원탈퇴 만들어야지')" type="button">회원 탈퇴</button>

        </div>
    </div>
{% endblock %}
