{% extends 'base.html' %}

{% block title %} User Upload | 강만다 {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="/static/css/user_profile.css">
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script src="/static/js/user_profile.js"></script>
{% endblock %}


{% block content %}
    <div class="form">
        <div class="wrapper">
            <div class="header">
                <span class="title">My Profile</span><br>
            </div>
            <div class="content">
                <div class="half">
                    <div class="message">
                        <label for="message">
                            <span>Profile</span>
                            <span class="point">*</span>
                            <span class="length">(<span>0</span> / 1000)</span>
                        </label>
                        <img class="thumbnail" style="height: 400px; width: 400px"
                             src="/static/{{ user_info.profile_pic }}">

                    </div>
                </div>
                <div class="half">
                    <div class="username">
                        <label for="username">ID</label>
                        <input type="text" id="username" disabled placeholder="{{ user_info.username }}">
                    </div>
                    <div class="nicname">
                        <label for="nicname">
                            <span>별명</span>
                            <span class="point">*</span>
                        </label>
                        <input type="text" id="name" disabled placeholder="{{ user_info.profile_name }}">
                    </div>
                    <div class="description">
                        <label for="description">
                            <span>자기 소개</span>
                            <span class="point">*</span>
                        </label>
                        <textarea type="text" id="description" disabled
                                  placeholder="{{ user_info.profile_info }}"></textarea>
                    </div>
                    <div class="action">
                        <form action="/user_profile" method="post">
                            <button id="signup-submit" type="submit">프로필 수정하러 가기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="form">
        <div class="wrapper">
            <div class="header">
                <span class="title">나의 댕댕이들</span>
                <div class="plus-icon add-card rounded add-baby" onclick="create_baby_profile()">
                    <span>추가하기</span>
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="content">
                <!-- baby list -->
                {% for baby_profile in baby %}
                    <div class="card color-card">
                        <ul>
                            <a href="javascript:void(0);" onclick="ProfileLike({{ baby_profile.number }})">
                                <li><i class="far fa-heart i-r w"></i></li>
                            </a>
                        </ul>

                        <div class="card_top">
                            <div>
                                <div class="profile_img">
                                    <img class="dog_img" src="/static/profileimg/{{ baby_profile.file }}">
                                </div>
                            </div>
                            <div>
                                <p class="name desc">{{ baby_profile.name }}</p>
                            </div>
                            <div class="desc">
                                <p class="age">나이: {{ baby_profile.age }}</p>
                                <p class="gender">성별: {{ baby_profile.gender }}</p>
                            </div>
                            <hr>
                            <div class="desc comment" style="font-size: 15px">
                                <p>{{ baby_profile.comment }}</p>
                                <button class="btn color-a top mt-5" onclick="location.href ='/profile/{{ baby_profile.number }}'">자세히 보기
                            </button>
                            </div>

                        </div>
                        <input type="hidden" value={{ baby_profile.number }} id="{{ baby_profile.number }}card">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}