{% extends 'base.html' %}

{% block title %} User Upload | 강만다 {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="/static/css/user_profile.css">
{% endblock %}

{% block js %}
    <script src="/static/js/user_profile.js"></script>
{% endblock %}


{% block content %}
    <div align="center">
        <p>프로필 사진</p>
        <img style="height: 400px; width: 400px" src="/static/{{ user_info.profile_pic }}">

        <p>별명</p>
        <input type="text" disabled placeholder="{{ user_info.profile_name }}">

        <p>자기 소개</p>
        <input type="text" disabled placeholder="{{ user_info.profile_info }}">

        <p>baby</p>
        <div class="profile_list_wrap" id="profile_card">
            {% for baby_profile in baby %}
                <div class="card color-card">
                    <ul>
                        <a onclick="like()">
                            <li><i class="far fa-heart i-r w"></i></li>
                        </a>
                    </ul>

                    <div class="card_top">
                        <div>
                            <div class="profile_img">
                                <img class="dog_img" src="/static/profileimg/{{ baby_profile.file }}">
                            </div>
                        </div>
                        <div>
                            <p class="name desc">{{ baby_profile.name }}</p>
                        </div>
                        <div class="desc">
                            <p class="age">나이: {{ baby_profile.age }}</p>
                            <p class="gender">성별: {{ baby_profile.gender }}</p>
                        </div>
                        <hr>
                        <div class="desc comment" style="font-size: 20px">
                            <p>{{ baby_profile.comment }}</p>
                        </div>
                        <button class="btn color-a top mt-5" onclick="location.href ='/profile/${number}'">자세히 보기
                        </button>
                    </div>
                    <input type="hidden" value={{ baby_profile.number }} id="{{ baby_profile.number }}card">
                </div>
            {% endfor %}
        </div>
        <form action="/user_profile" method="post">
            <button id="signup-submit" type="submit">프로필 수정하기</button>
        </form>
    </div>
{% endblock %}